
body {

    
    background-size: cover; /* 背景图片覆盖整个页面 */
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    width: 90%;
    background-color: gray;
    margin: 0 auto;
    color: white;
    /* font-family: 'Comic Sans MS', cursive; */
     
    /* 使用手写风格字体 */
    /* font-family: 'Papyrus', fantasy;  */
    /* 使用装饰性字体 */
    /* font-family: 'Roboto', sans-serif; */
    font-family: Georgia, serif; 
    
}

header {
    color: white;
    display: flex;
    margin: 1vh;
}

nav {
    background-color: rgba(51, 51, 51, 0.8); /* 半透明背景 */
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0;
}

.item {
    flex: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* 中心对齐文本 */
}



.nav-link {
    color: yellow; /* 文字颜色 */
    text-decoration: none; /* 去掉下划线 */
}

.nav-link:hover {
    color: aqua;
}

.block {
    display: block;
}

main {
    display: flex;
    overflow-y: scroll;
}


aside {
    display: block;
    margin-left: 5px;
    width: 8%;
    border: solid white 1px;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明白色背景 */
    box-sizing: border-box; /* 包括内边距和边框在内 */
}


.content {
    width: 90%;
    height: 90vh;
    background-color: rgba(250, 235, 215, 0.35); /* 半透明古董白背景 */
    padding: 10px;
    border: solid white 1px;

    text-align: left; /* 居中对齐 */
    color: white;
    font-size: 1.4em;


}

footer {
    background-color: rgba(240, 248, 255, 0.4); /* 半透明背景 */
    color: black;
    margin-top: 1vh;
    text-align: center; /* 中心对齐文本 */
}

.aside-select{
    width: 100%; /* 让 select 元素铺满 aside */

}

