{%extends "base_generic.html"%}
{%block content%}
<button type="button" style="background-color: rgb(107, 24, 224);">
    <a style="text-decoration: none;  color: white;" href="{% url 'blogs' %}">Return</a>
</button>
<article id="blog-detail">
<h1>{{blog.title}}</h1>
<p>{{blog.create_date}}</p>
<h3>Abstract</h3>
<div class="blog_abstract align-left">{{blog.abstract|linebreaksbr}}</div>
<h3>Content</h3>
<div class="blog_content align-left">{{blog.content|linebreaksbr}}</div>
<div style="text-align: right; font-size: 0.5em;">uploaded in {{blog.update_date}}</div>
</article>
{%endblock%}
